asgiref==3.7.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
cryptography==41.0.5
decouple==0.0.7
Deprecated==1.2.14
Django==4.2.6
django-oauth-toolkit==2.3.0
djangorestframework==3.14.0
idna==3.4
jwcrypto==1.5.0
oauthlib==3.2.2
Pillow==10.1.0
pip==22.0.2
psycopg2-binary==2.9.9
pycparser==2.21
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
setuptools==59.6.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.0.7
wheel==0.41.3
wrapt==1.15.0
